.MuiAutocomplete-hasPopupIcon.css-5qls8a-MuiAutocomplete-root .MuiOutlinedInput-root, .MuiAutocomplete-hasClearIcon.css-5qls8a-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding-right: 10px !important;
}


.MuiAutocomplete-hasPopupIcon.css-iz8dxz-MuiAutocomplete-root .MuiOutlinedInput-root, .MuiAutocomplete-hasClearIcon.css-iz8dxz-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding-right: 10px !important;
}

.css-1cv3st9-MuiPaper-root-MuiAutocomplete-paper {

  border: 1px solid rgb(121, 121, 121);
  margin-top: 5px;
} 

.container-input-search {
  position: relative;
  padding: 0;
}

.searchIcon {
  display: flex;
  cursor: pointer;
  gap: 10px;
}



.listItem {
  cursor: pointer;
  border-bottom: 1px solid rgb(205, 205, 206);
  padding: 10px 20px;
}

.listItem:last-child {
  border-bottom: none;
}

.secondaryText {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}








.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro translúcido */
  z-index: 10; /* Se coloca detrás del Autocomplete */
}

.container-input-search {
  position: relative;
  z-index: 20; /* Se coloca encima del fondo oscuro */

}




