

.container-products-detail {
 padding: 0 25px  !important;

  .container-carrousell {
    width: 100%;
    max-width: 92vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .carrousell {
      width: 80%;
    }

    .image-slick {
      height: 280px;
      width: 100%;
      transition: transform 0.5s ease-in-out;
    }

    .image-slick:hover {
      transform: scale(1.1);
    }

    .slick-dots li button:before {
      color: rgb(121, 117, 117) !important; /* Color de los puntos inactivos */
      opacity: 1 !important; /* Asegura que siempre sea visible */
      font-size: 7px; /* Opcional: ajusta el tamaño */
    }

    .slick-dots li.slick-active button:before {
      color: #0039b1 !important;
    }
  }

  .category-price {
    display: flex;
    justify-content: space-between;
    .container-price {
      display: flex;

      gap: 10px;
      .old-price {
        text-decoration: line-through;
        color: gray;
      }
      .price {
       
        font-weight: bold;
        font-size: 20px;
      }
    }
  }

  .container-amount {
    display: flex;
    align-items: center;
    gap: 20px;

    .amount-counter {
      display: flex;
      gap: 10px;

      .button-amount {
        padding: 0 10px;

        cursor: pointer;
      }
    }
  }
}
