.header-container {
    max-width: 100% !important;
  padding: 10px 40px;
  border-bottom: 2px solid gray;
 


  .items-cart{
    display: flex;
    align-items: center;

    justify-content: space-between;
    .logo-header {
        img {
          height: 80px;
        }
      }
    
      .items-header {
        display: flex;
        gap: 20px;
    
        a {
          text-decoration: none;
          color: black;
        }
      }

  }

 
}
