.header-container {
  
  /* padding: 10px 40px; */
 
  border: 2px solid gray;

  .items-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;

    .logo-header {
      display: flex;
      align-items: center;
      img {
        height: 80px;
        width: 120px;
      }

      @media screen and (max-width: 768px) {
      
       justify-content: center;
      }
    
 
     
    }

    .items-header {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 20px;
      padding-right: 20px;


      a {
        text-decoration: none;
        color: black;
      }
      @media screen and (max-width: 768px) {
      
        padding-right: 10px;
        gap: 10px;
      }
    }
  }


}
