.principal {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Hace que ocupe toda la pantalla */
  /*     border: 2px solid #0037ff; */
}

.scroll-cont {
  flex: 1; /* Ocupa todo el espacio sobrante */
/*   border: 7px solid #ff0000; */
  overflow: auto;
  position: relative;
}

.toast-container {
  max-width: 90%;
  left: 5% !important;
  position: fixed;
  top: 10% !important;
  z-index: 1;
}
