/* index.css */

#root {

 width: 100%;
 margin: 0  !important;
 padding: 0 !important;
}

/* @font-face {
  font-family: "Montserrat-Bold";
  src: url("../src/assets/fonts/Montserrat-Bold.ttf");
  font-display: swap;
}
 */

html,
body {
  margin: 0  !important;
  padding: 0 !important;
 
}
