/* index.css */

#root {

 width: 100%;
 margin: 0  !important;
 padding: 0 !important;
 --bg-color: #ffffff;
 --text-color: #000000;
}


.dark-mode {
  --bg-color: #121212;
  --text-color: #ffffff;
}
/* @font-face {
  font-family: "Montserrat-Bold";
  src: url("../src/assets/fonts/Montserrat-Bold.ttf");
  font-display: swap;
}
 */

html,
body { 
  margin: 0  !important;
  padding: 0 !important;

  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  transition: background-color 0.3s ease, color 0.3s ease;
 
}
