/* index.css */

#root {
 border: 3px solid red;
 width: 100%;
}

/* @font-face {
  font-family: "Montserrat-Bold";
  src: url("../src/assets/fonts/Montserrat-Bold.ttf");
  font-display: swap;
}
 */

html,
body {
  margin: 0;
  padding: 0;
}
